<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.itender.mybatis.dao.SkuMapper">
    <insert id="batchInsert">
        insert into tb_sku_test(id, sn, name, price, num, alert_num, image, images,
        weight, create_time, update_time, spu_id, category_id, category_name, brand_name, spec,
        sale_num, comment_num, status) values
        <foreach collection="skuList" item="sku" separator=",">
            (#{sku.id}, #{sku.sn}, #{sku.name}, #{sku.price}, #{sku.num}, #{sku.alertNum}, #{sku.image},
            #{sku.images}, #{sku.weight}, #{sku.createTime}, #{sku.updateTime}, #{sku.spuId}, #{sku.categoryId}
            , #{sku.categoryName}, #{sku.brandName}, #{sku.spec}, #{sku.saleNum}, #{sku.commentNum}, #{sku.status})
        </foreach>
    </insert>

    <select id="getSkuList" parameterType="java.lang.Long" resultType="com.itender.mybatis.entity.Sku">
        select * from tb_sku where id &lt; #{id}
    </select>
</mapper>
